// Dependencies
@import "scss/dependencies/colors";
@import "scss/dependencies/variables";
@import "scss/dependencies/mixins";
@import "scss/dependencies/web-fonts";

/*——————————————————*\
  #STRUCTURE
\*——————————————————*/

.header {
  width: 100%;
  background-color: $green;
  text-align: center;
  padding: 10vh 0;
  @include respond-to(small-screens) {
    background-color: $blue;
  }
  @include respond-to(medium-screens) {
    background-color: $red;
  }
  @include respond-to(wide-screens) {
    background-color: $yellow;
  }
}

  .header-title {
    font-size: 10vh;
    color: $white;
  }


.divider {
  height: 1px;
  width: 100%;
  background: $black12;
  margin: 30px 0;
}





/*——————————————————*\
  #SPECIFICS
\*——————————————————*/

.demoPage {
  background-color: $black12;
}

  .demoPage-title {
    color: $blue;
  }





/*——————————————————*\
  #COLORS
\*——————————————————*/

.colors {}

  .colorPallet {
    width: 300px;
    margin: 5px;
    display: inline-block;
  }

    .colorPallet-color {
      height: 50px;
      width: 100%;
      display: block;
      text-align: center;
      line-height: 50px;
      cursor: pointer;

      &:hover {
        transform: scale(1.04);
        box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.2);
        transition: all .2s ease-in-out;
      }
    }

    .colorPallet-color--dark {
      color: $white;
    }

    @each $name, $color in $color-map {
      .colorPallet-color--#{$name} {
        background-color: $color;
      }
    }





/*——————————————————*\
  #BUTTONS
\*——————————————————*/

/**
 * 1 - Clear float
 */

.buttons {}

  .buttons-group {
    margin-bottom: 30px;
    overflow: hidden; /* 1 */
  }
    .button, .outlineButton, .flatButton {
      float: left;
      margin: 3px;
    }





/*——————————————————*\
  #ICONS
\*——————————————————*/

.icons {}


  .icons-set {
    margin: 10px -23px 20px;
  }

    .icons-set-icon {
      width: 20%;
      display: inline-block;
      margin: 0 23px 15px;
      font-size: 1.5rem;
      white-space: nowrap;
      color: $black54;

      .fa {
        color: $black;
        width: 32px;
        font-size: 1.8rem;
        display: inline-block;
        text-align: right;
        margin-right: 10px;
      }
    }

  .icons-textMuted {
    font-size: 1.1rem;
    font-style: italic;
  }
