// Dependencies
@import "scss/dependencies/colors";
@import "scss/dependencies/variables";
@import "scss/dependencies/mixins";
@import "scss/dependencies/web-fonts";

/*——————————————————*\
  #STRUCTURE
\*——————————————————*/

.header {
  width: 100%;
  background-color: $green;
  text-align: center;
  padding: 10vh 0;
  @include respond-to(small-screens) {
    background-color: $blue;
  }
  @include respond-to(medium-screens) {
    background-color: $red;
  }
  @include respond-to(wide-screens) {
    background-color: $yellow;
  }
}

  .header-title {
    font-size: 10vh;
    color: $white;
  }


.divider {
  height: 1px;
  width: 100%;
  background: $black12;
  margin: 30px 0;
}





/*——————————————————*\
  #SPECIFICS
\*——————————————————*/

.demoPage {
  background-color: $black50;
}

  .demoPage-title {
    color: $blue;
  }





/*——————————————————*\
  #COLORS
\*——————————————————*/

.colors {}

  .colorPallet {
    width: 100%;
    margin: 5px;
    overflow: hidden;
  }

    .colorPallet-color {
      width: 10%;
      height: 80px;
      text-align: center;
      line-height: 50px;
      cursor: pointer;
      float: left;
      &:hover {
        transform: scale(1.05);
        box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.2);
        transition: all .2s ease-in-out;
      }
    }

    .colorPallet-color--dark {
      color: $white;
    }

    $color-map: (
      "white": $white,
      "black": $black,
      "blue": $blue,
      "green": $green,
      "yellow": $yellow,
      "orange": $orange,
      "red": $red,

      "blue50": $blue50,
      "blue100": $blue100,
      "blue200": $blue200,
      "blue300": $blue300,
      "blue400": $blue400,
      "blue500": $blue500,
      "blue600": $blue600,
      "blue700": $blue700,
      "blue800": $blue800,
      "blue900": $blue900,

      "green50": $green50,
      "green100": $green100,
      "green200": $green200,
      "green300": $green300,
      "green400": $green400,
      "green500": $green500,
      "green600": $green600,
      "green700": $green700,
      "green800": $green800,
      "green900": $green900,

      "yellow50": $yellow50,
      "yellow100": $yellow100,
      "yellow200": $yellow200,
      "yellow300": $yellow300,
      "yellow400": $yellow400,
      "yellow500": $yellow500,
      "yellow600": $yellow600,
      "yellow700": $yellow700,
      "yellow800": $yellow800,
      "yellow900": $yellow900,

      "orange50": $orange50,
      "orange100": $orange100,
      "orange200": $orange200,
      "orange300": $orange300,
      "orange400": $orange400,
      "orange500": $orange500,
      "orange600": $orange600,
      "orange700": $orange700,
      "orange800": $orange800,
      "orange900": $orange900,

      "red50": $red50,
      "red100": $red100,
      "red200": $red200,
      "red300": $red300,
      "red400": $red400,
      "red500": $red500,
      "red600": $red600,
      "red700": $red700,
      "red800": $red800,
      "red900": $red900,

      "black50": $black50,
      "black100": $black100,
      "black200": $black200,
      "black300": $black300,
      "black400": $black400,
      "black500": $black500,
      "black600": $black600,
      "black700": $black700,
      "black800": $black800,
      "black900": $black900,
    );

    @each $name, $color in $color-map {
      .colorPallet-color--#{$name} {
        background-color: $color;
      }
    }





/*——————————————————*\
  #BUTTONS
\*——————————————————*/

/**
 * 1 - Clear float
 */

.buttons {}

  .buttons-group {
    margin-bottom: 30px;
    overflow: hidden; /* 1 */

    button {
      float: left;
      margin: 3px;
    }
  }

  .buttons-group--dark {
    background: $black87;
  }





/*——————————————————*\
  #LABELS
\*——————————————————*/

/**
 * 1 - Clear float
 */

.labels {}

  .labels-group {
    margin-bottom: 30px;
    overflow: hidden; /* 1 */

    .label {
      float: left;
      margin: 3px;
    }
  }





/*——————————————————*\
  #ICONS
\*——————————————————*/

.icons {}


  .icons-set {
    margin: 10px -23px 20px;
  }

    .icons-set-icon {
      width: 20%;
      display: inline-block;
      margin: 0 23px 15px;
      font-size: 1.5rem;
      white-space: nowrap;
      color: $black54;

      .fa {
        color: $black;
        width: 32px;
        font-size: 1.8rem;
        display: inline-block;
        text-align: right;
        margin-right: 10px;
      }
    }

  .icons-textMuted {
    font-size: 1.1rem;
    font-style: italic;
  }





/*——————————————————*\
  #INPUTS
\*——————————————————*/


.inputs {
  input {
    width: 400px;
  }
}

  .inputs-group {
    margin-bottom: 30px;
    &:after { /* Clearfix */
      content: "";
      display: table;
      clear: both;
    }

    .input {
      float: left;
      margin: 3px;
    }
  }
