@charset "UTF-8";

/*----------------------------------------------------------------------------*\
  #ALERT

  .alert (--on) (--error|--warning|--success)
    (.fa)
    .alert-message
    .alert-close

\*----------------------------------------------------------------------------*/

/**
 * 1 - Just the bottom corners are rounded.
 * 2 - Default background color.
 * 3 - Clear float trick.
 * 4 - Centers horizontally and hides vertically with 110% (10% is to hide the
 *     shadow element).
 * 5 - CSS rule to `.alert-message` when there `.fa` icon.
 * 6 - Using the `i` element in selector to increase the weight of `.alert .fa`
 *     rule, because the @extend changes the order of selector.
 */

$alert-close-size: $grid*6;

.alert {
  @extend %sexyBox;
  border-radius: 0 0 $border-radius $border-radius; /* 1 */
  display: table;
  color: $white87;
  background: $blue; /* 2 */
  overflow: hidden; /* 3 */

  position: fixed;
  z-index: $z-index-alert;
  top: 0;
  left: 50%; /* 4 */
  -webkit-transform: translateX(-50%) translateY(-110%); /* 4 */
      -ms-transform: translateX(-50%) translateY(-110%); /* 4 */
          transform: translateX(-50%) translateY(-110%); /* 4 */

  -webkit-transition: transform .6s ease-out;
      -ms-transition: transform .6s ease-out;
          transition: transform .6s ease-out;

  .fa {
    $icon-width: $grid*4;
    $icon-height: $grid*6;
    @extend .#{$fa-css-prefix}--infoCircle;

    float: left;
    height: $icon-height;
    width: $icon-width;
    line-height: $icon-height;
    padding-left: $grid*2;
    font-size: 1.6rem;

    & + .alert-message { /* 5 */
      padding-left: $grid;
      width: calc(100% - #{$alert-close-size + $icon-width});
    }
  }
}

.alert--on {
  -webkit-transform: translateX(-50%) translateY(0);
      -ms-transform: translateX(-50%) translateY(0);
          transform: translateX(-50%) translateY(0);
}

.alert--error {
  background: $red;
  i.fa { /* 6 */
    @extend .#{$fa-css-prefix}--exclamationCircle;
  }
}

.alert--warning {
  background: $yellow;
  i.fa { /* 6 */
    @extend .#{$fa-css-prefix}--questionCircle;
  }
}

.alert--success {
  background: $green;
  i.fa { /* 6 */
    @extend .#{$fa-css-prefix}--checkCircle;
  }
}

  .alert-message {
    padding: $grid*2 $grid $grid*2 $grid*2;
    font-size: 1.4rem;
    float: left;
    width: calc(100% - #{$alert-close-size});
    line-height: $grid*2;
  }

  .alert-close {
    &:before {
      content: "×";
    }

    width: $alert-close-size;
    height: $alert-close-size;
    line-height: $alert-close-size;
    text-align: center;
    font-size: 2.2rem;
    color: $white54;
    float: left;
    cursor: pointer;
  }
