/**
 * Buttons
 */

%button {
  display: inline-block;
  cursor: pointer;
}


%button--big {
  $height: 48px;
  height: $height;
  line-height: $height;
  font-size: 16px;
  padding: 0 20px;

  &.fa:before { margin-right: 8px; }
}

%button--medium {
  $height: 40px;
  height: $height;
  line-height: $height;
  font-size: 14px;
  padding: 0 16px;

  &.fa:before { margin-right: 6px; }
}

%button--small {
  $height: 32px;
  height: $height;
  line-height: $height;
  font-size: 12px;
  padding: 0 12px;

  &.fa:before { margin-right: 4px; }
}

%button--caps {
  $height: 24px;
  height: $height;
  line-height: $height;
  font-size: 10px;
  padding: 0 8px;
  text-transform: uppercase;

  &.fa:before { margin-right: 2px; }
}

%button--disabled {
  opacity: .5;
  cursor: not-allowed;
}

@-webkit-keyframes ellipsis {
  0% {
    width: 0;
    margin-right: 1em;
  }
  100% {
    width: 1em;
  }
}




/*——————————————————*\
  #BUTTON
\*——————————————————*/

/**
 * 1 - Extends the default size: button--big.
 * 2 - Sets default background color to gray and text color to white.
 */

.button {
  @extend %sexyBox;
  @extend %button;
  @extend %button--big; /* 1 */

  color: #fff; /* 2 */
  background: $gray; /* 2 */

  &:hover:not(.button--disabled):not([disabled]) { background: darken($gray, 5%); }
  &:active:not(.button--disabled):not([disabled]) { background: darken($gray, 10%); }

  &[disabled], &.button--disabled {
    @extend %button--disabled;
  }
}

  .button--blue {
    background: $blue;
    &:not(.button--disabled):not([disabled]) {
      &:hover { background: darken($blue, 5%); }
      &:active { background: darken($blue, 10%); }
    }
  }

  .button--green {
    background: $green;
    &:not(.button--disabled):not([disabled]) {
      &:hover { background: darken($green, 5%); }
      &:active { background: darken($green, 10%); }
    }
  }

  .button--yellow {
    background: $yellow;
    &:not(.button--disabled):not([disabled]) {
      &:hover { background: darken($yellow, 5%); }
      &:active { background: darken($yellow, 10%); }
    }
  }

  .button--orange {
    background: $orange;
    &:not(.button--disabled):not([disabled]) {
      &:hover { background: darken($orange, 5%); }
      &:active { background: darken($orange, 10%); }
    }
  }

  .button--red {
    background: $red;
    &:not(.button--disabled):not([disabled]) {
      &:hover { background: darken($red, 5%); }
      &:active { background: darken($red, 10%); }
    }
  }

  .button--medium { @extend %button--medium; }
  .button--small { @extend %button--small; }
  .button--caps { @extend %button--caps; }





/*——————————————————*\
  #ACTION BUTTON
\*——————————————————*/

.actionButton {
  @extend .button;

  &:before { content: attr(data-label); }

  &[disabled], &.actionButton--disabled {
    @extend %button--disabled;
  }
  .fa {
    float: left;
    margin-right: 8px;
  }
}

  .actionButton--blue     { @extend .button--blue; }
  .actionButton--green    { @extend .button--green; }
  .actionButton--yellow   { @extend .button--yellow; }
  .actionButton--orange   { @extend .button--orange; }
  .actionButton--red      { @extend .button--red; }

  .actionButton--medium {
    @extend %button--medium;
    .fa { margin-right: 6px; }
  }

  .actionButton--small {
    @extend %button--small;
    .fa { margin-right: 4px; }
  }

  .actionButton--caps {
    @extend %button--caps;
    .fa { margin-right: 2px; }
  }

  .actionButton--loading {
    @extend %button--disabled;

    &:after {
      content: "\2026";
      overflow: hidden;
      display: inline-block;
      vertical-align: bottom;
      -webkit-animation:  ellipsis 1s infinite;
              animation:  ellipsis 1s infinite;
    }
    &:before { content: attr(data-loading); }
  }

  .actionButton--done {
    &:after { content: "!"; }
    &:before { content: attr(data-done); }
  }





/*——————————————————*\
  #OUTLINE BUTTON
\*——————————————————*/

/**
 * 1 - Extends the default size: button--big.
 */

.outlineButton {
  @extend %roundedBox;
  @extend %button;
  @extend %button--big; /* 1 */

  background: transparent;
  border: 1px solid;

  &[disabled], &.outlineButton--disabled {
    @extend %button--disabled;
  }
}

  .outlineButton--dark {
    color: $black54;
    border-color: $black54;
    &:not(.button--disabled):not([disabled]) {
      &:hover {
        color: $black87;
        border-color: $black;
      }
      &:active {
        color: $black87;
        border-color: $black;
      }
    }
  }

  .outlineButton--light {
    color: $white54;
    border-color: $white54;
    &:not(.button--disabled):not([disabled]) {
      &:hover {
        color: $white87;
        border-color: $white;
      }
      &:active {
        color: $white87;
        border-color: $white;
      }
    }
  }

  .outlineButton--medium { @extend %button--medium; }
  .outlineButton--small { @extend %button--small; }
  .outlineButton--caps { @extend %button--caps; }





/*——————————————————*\
  #FLAT BUTTON
\*——————————————————*/

/**
 * 1 - Extends the default size: button--medium.
 * 2 - Sets default background color to gray and text color to white.
 */

.flatButton {
  @extend %button;
  @extend %button--medium; /* 1 */

  text-transform: uppercase;
  color: $gray; /* 2 */

  &[disabled], &.flatButton--disabled {
    @extend %button--disabled;
  }
}

  .flatButton--blue {
    color: $blue;
    &:hover { color: darken($blue, 5%); }
  }

  .flatButton--green {
    color: $green;
    &:hover { color: darken($green, 5%); }
  }

  .flatButton--yellow {
    color: $yellow;
    &:hover { color: darken($yellow, 5%); }
  }

  .flatButton--orange {
    color: $orange;
    &:hover { color: darken($orange, 5%); }
  }

  .flatButton--red {
    color: $red;
    &:hover { color: darken($red, 5%); }
  }
