@charset "UTF-8";

/*----------------------------------------------------------------------------*\
  #FIELD

  .field (--small) (--error|--success) (.select)
    (.#{$fa-css-prefix})
    (.field-validation)
    select|input[type="text"]

\*----------------------------------------------------------------------------*/

/**
 * 1 - The right padding is increased because the icon on the right.
 * 2 - Hides the select caret down when the validation icons appears.
 * 2 - Hides the input icon (`.#{$fa-css-prefix}`) when the validation icons appears.
 */

$field-height:        $grid * 6;
$field-height--small: $grid * 4;

$field-horizontalPadding:         $grid * 2;
$field-horizontalPadding--small:  $grid * 1;

.field {
  display: inline-block;
  position: relative;
  .#{$fa-css-prefix}, .field-validation {
    font-size: 18px;
    right: $field-horizontalPadding;
    text-align: right;
    @include vertical-center;
  }
}

  .field-validation {
    @extend %font-awesome;
  }

.field--small {
  input[type="text"] {
    height: $field-height--small;
    font-size: 1.3rem;
    padding: 0 $field-horizontalPadding--small;
  }
  select {
    height: $field-height--small;
    font-size: 1.3rem;
    padding: 0 ($field-horizontalPadding--small + $grid * 2) 0 $field-horizontalPadding--small; /* 1 */
  }
  .#{$fa-css-prefix}, .field-validation {
    font-size: 1.2rem;
    right: $field-horizontalPadding--small;
  }
}

.field--error, .field--success {
  &:before { display: none; } /* 2 */
  .#{$fa-css-prefix} {
    display: none; /* 3 */
  }
}

.field--error {
  .field-validation {
    @extend .#{$fa-css-prefix}--exclamationCircle;
    @extend .#{$fa-css-prefix}--red;
  }
  input[type="text"] {
    border-color: $red54;
    @include box-inner-shadow($red87);
  }
  select {
    border: 1px solid $red54;
    @include box-shadow-level-1($red87);
  }
}

.field--success {
  .field-validation {
    @extend .#{$fa-css-prefix}--checkCircle;
    @extend .#{$fa-css-prefix}--green;
  }
  input[type="text"] {
    border-color: $green54;
    @include box-inner-shadow($green87);
  }
  select {
    border: 1px solid $green54;
    @include box-shadow-level-1($green87);
  }
}


/*----------------------------------------------------------------------------*\
  #INPUT

  .field (--small) (--error|--success)
    (.fa)
    (.field-validation)
    input[type="text"]
      ( .input-suggestions
        .input-suggestions-item
            ( .input-suggestions-item-image
              .input-suggestions-item-wrapper
                .input-suggestions-item-title
                .input-suggestions-item-description
            )
      )

\*----------------------------------------------------------------------------*/


/**
 * 1 - Shows 4 items and the fifth item cut in half.
 * 2 - Puts the element just before starting to round the borders.
 * 3 - The line-height must be equal to the height of the element least its
 *     upper and lower fills.
 * 4 - Clearfix and avoids content overflow.
 * 5 - Shows suggestions when input is in focus.
 * 6 - Fix the blur before the click event, keeping the suggestions while hover.
 * 7 - The `input-suggestions-item-title` and
 *     `input-suggestions-item-description` has the half of image height.
 */

@charset "UTF-8";

$input-suggestions-item-paddingTopBottom:   $grid * 1;
$input-suggestions-item-image-size:         $grid * 4;
$input-suggestions-item-image-size--small:  $grid * 3;
$input-suggestions-item-image-marginRight:  $grid * 1;

input[type="text"] {
  border-radius: $border-radius;
  display: inline-block;
  color: $black87;
  background: $white;
  border: 1px solid $black12;
  @include box-inner-shadow($black26);

  height: $field-height;
  font-size: 1.6rem;
  padding: 0 $field-horizontalPadding;

  &:focus {
    border-color: $blue54;
    @include box-inner-shadow($blue87);

    & ~ .input-suggestions { /* 5 */
      display: block;
    }
  }

  &[disabled] {
    background: $black50;
  }
}

  .input-suggestions {
    display: none;
    background: $white;
    border: 1px solid $black12;
    border-radius: 0 0 $border-radius $border-radius;
    width: 100%;
    max-height: ($field-height * 4) + ($field-height / 2); /* 1 */
    top: calc(100% - #{$border-radius}); /* 2 */
    position: absolute;
    overflow-y: scroll;
    z-index: $z-index-dropdown;

    &:hover { display: inline-block; } /* 6 */

    .field--small & {
      max-height: ($field-height--small * 4) + ($field-height--small / 2); /* 1 */
    }
  }

    .input-suggestions-item {
      color: $black54;
      b, strong { color: $blue; }

      font-size: 1.6rem;
      height: $field-height;
      line-height: $field-height - $input-suggestions-item-paddingTopBottom * 2; /* 3 */
      padding: $input-suggestions-item-paddingTopBottom $field-horizontalPadding;

      overflow: hidden; /* 4 */

      .field--small & {
        $padding: $grid * 1;
        font-size: 1.3rem;
        height: $field-height--small;
        line-height: $field-height--small - $padding * 2; /* 3 */
        padding: $padding;
      }
    }

      .input-suggestions-item-image {
        float: left;
        border-radius: $border-radius;
        width: $input-suggestions-item-image-size;
        height: $input-suggestions-item-image-size;
        margin-right: $input-suggestions-item-image-marginRight;
        .field--small & {
          height: $input-suggestions-item-image-size--small;
          width: $input-suggestions-item-image-size--small;
        }
      }

      .input-suggestions-item-wrapper {
        float: left;
        width: calc(100% - #{$input-suggestions-item-image-size + $input-suggestions-item-image-marginRight});
        .field--small & {
          width: calc(100% - #{$input-suggestions-item-image-size--small + $input-suggestions-item-image-marginRight});
        }
      }

        .input-suggestions-item-title {
          line-height: $input-suggestions-item-image-size / 2; /* 7 */
          .field--small & {
            line-height: $input-suggestions-item-image-size--small / 2; /* 7 */
          }
        }

        .input-suggestions-item-description {
          color: $black26;
          font-size: 1.2rem;
          line-height: $input-suggestions-item-image-size / 2; /* 7 */
          .field--small & {
            font-size: 1.1rem;
            line-height: $input-suggestions-item-image-size--small / 2; /* 7 */
          }
        }





/*----------------------------------------------------------------------------*\
  #SELECT

  .field (--small) (--error|--success) .select
    (.field-validation)
    select

\*----------------------------------------------------------------------------*/

/**
 * 1 - The right padding is increased because the caret down icon on the right.
 * 2 - Defines the position and styles of the caret down icon.
 * 3 - Need to add the caret down icon.
 * 4 - Defines the caret down icon.
 */

select {
  cursor: pointer;
  $paddingRight: $field-horizontalPadding + $grid * 3; /* 1 */
  @extend %sexyBox;
  background: $white;
  border: none;
  height: $field-height;
  font-size: 1.6rem;
  padding: 0 $paddingRight 0 $field-horizontalPadding; /* 1 */
  -webkit-appearance: none;
}

.select {
  @extend %font-awesome; /* 3 */
  @extend .#{$fa-css-prefix}--caretDown; /* 4 */
  @extend .#{$fa-css-prefix}--gray; /* 4 */
  &:before { /* 2 */
    position: absolute;
    font-size: 1.8rem;
    line-height: $field-height;
    right: $field-horizontalPadding;
  }
  &.field--small {
    &:before { /* 2 */
      font-size: 1.2rem;
      line-height: $field-height--small;
      right: $field-horizontalPadding--small;
    }
  }
}
