@charset "UTF-8";

/*——————————————————*\
  #BUTTON
\*——————————————————*/

/**
 * 1 - Adjusts the vertical center.
 */

.label {
  @extend %roundedBox;
  display: inline-block;
  color: $white;

  $height: $grid*3;
  height: $height;
  line-height: $height + 1; /* 1 */
  font-size: 15px;
  padding: 0 8px;

  background: $gray;
}

  .label--medium {
    $height: $grid*2+$grid/2;
    height: $height;
    line-height: $height + 1; /* 1 */
    font-size: 13px;
    padding: 0 6px;
  }

  .label--small {
    $height: $grid*2;
    height: $height;
    line-height: $height - 1; /* 1 */
    font-size: 11px;
    padding: 0 $grid/2;
  }

  .label--blue { background: $blue; }
  .label--green { background: $green; }
  .label--yellow { background: $yellow; }
  .label--orange { background: $orange; }
  .label--red { background: $red; }

  .label--outline {
    background: none;
    color: $gray;
    border: 1px solid currentColor;

    &.label--blue { color: $blue; }
    &.label--green { color: $green; }
    &.label--yellow { color: $yellow; }
    &.label--orange { color: $orange; }
    &.label--red { color: $red; }
  }

