@charset "UTF-8";

/*
 * 1 - Blue as default color
*/

/*----------------------------------------------------------------------------*\
  #LINK

  .link (--green|--yellow|--orange|--red|--white|--gray|--black)

\*----------------------------------------------------------------------------*/

@mixin link-color($color, $hoverColor, $activeColor) {
  color: $color;

  &:hover { color: $hoverColor; }
  &:active { color: $activeColor; }
}

.link { /* 1 */
  @include link-color($blue500, $blue600, $blue700);
}

/* Colors modifiers */
.link--green  { @include link-color($green500,   $green600,  $green700); }
.link--yellow { @include link-color($yellow500,  $yellow600, $yellow700); }
.link--orange { @include link-color($orange500,  $orange600, $orange700); }
.link--red    { @include link-color($red500,     $red600,    $red700); }
.link--white  { @include link-color($white87,    $white,     $white); }
.link--gray   { @include link-color($black500,   $black600,  $black700); }
.link--black  { @include link-color($black800,   $black900,  $black900); }
