@charset "UTF-8";

/*----------------------------------------------------------------------------*\
  #MODAL

  .modal
    .modal-box
      (.modal-box-footer)
      (.modal-box-close)
      .modal-box-content

\*----------------------------------------------------------------------------*/

/**
 * 1 -
 */

$modal-box-content-padding: $grid*2;
$modal-close-size: $grid*6;

.modal {
  &:before{
    content: "";
    display: none;
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: $z-index-modal-overlay;
  }
  &:target{
    &:before{
      display: block;
    }
    .modal-box {
      -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      top: 20%;
    }
  }
}

  .modal-box {
    @extend %sexyBox;

    height: 100%;
    max-width: 400px;
    max-height: 300px;

    background: $white;
    overflow: hidden;
    position: fixed;
    left: 50%;
    top: -100%;
    z-index: $z-index-modal-box;

    -webkit-transition: -webkit-transform 0.3s ease-out;
       -moz-transition: -moz-transform 0.3s ease-out;
         -o-transition: -o-transform 0.3s ease-out;
            transition: transform 0.3s ease-out;

    -webkit-transform: translate(-50%, -100%);
        -ms-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);


  }

    .modal-box-footer {
      $footer-height: $grid*6;

      padding: $grid/2;
      height: $footer-height;
      background: $white;
      box-shadow: 0px 1px 7px 0px rgba(0,0,0,.3);
      position: absolute;
      bottom: 0;
      width: 100%;
      button, a {
        float: right;
        &:first-child { float: left; }
      }
      & ~ .modal-box-content {
        height: calc(100% - #{$footer-height});
      }
    }

    .modal-box-close {
      &:before {
        content: "×";
      }

      width: $modal-close-size;
      height: $modal-close-size;
      line-height: $modal-close-size;
      text-align: center;
      font-size: 2.2rem;
      color: $black54;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;

      & ~ .modal-box-content {
        padding-right: $modal-close-size + $modal-box-content-padding;
      }
    }

    .modal-box-content {
      padding: $modal-box-content-padding;
      font-size: 1.4rem;
      line-height: 20px;
      overflow-y: scroll;
      height: 100%;
    }

