@charset "UTF-8";

/*----------------------------------------------------------------------------*\
  #MODAL

  .modal
    .modal-box
      (.modal-box-footer)
      (.modal-box-close)
      .modal-box-content

\*----------------------------------------------------------------------------*/

/**
 * This modal is a CSS only implementation, using URL #anchor and selected by
 * :target selector or using --open modifier. The modal is activated by clicking in some link with your
 * anchor, and closed clicking in any other anchor (like #close).
 *
 * 1  - Modal overlay.
 * 2  - CSS rule to show the modal (when the id of `.modal` is an anchor).
 * 3  - Remove the Y translate, originally -100%.
 * 4  - New position, originally -100%.
 * 5  - The X (-50%) is to center horizontally (together 6 tip) and the Y (-100%)
 *      is to hide the modal off the page.
 * 6  - Necessary to allow Y scroll of the `.modal-box-content`.
 * 7  - Trick to center horizontally.
 * 8  - All buttons should be right-aligned.
 * 9  - CSS rule to `.modal-box-content` when there `.modal-box-footer`.
 * 10 - CSS rule to `.modal-box-content` when there `.modal-box-close`.
 */

$modal-box-content-padding: $grid*2;
$modal-box-close-size:      $grid*6;
$modal-box-min-width:       $grid*50;
$modal-box-min-height:      $grid*38;
$modal-box-footer-height:   $grid*6;

.modal {
  &:before { /* 1 */
    content: "";
    display: none;
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: $z-index-modal-overlay;
  }
  &--open, &:target { /* 2 */
    &:before { display: block; }
    .modal-box {
      @include transform(translate(-50%, 0)); /* 3 */
      top: 20%; /* 4 */
    }
  }
}

  .modal-box {
    @extend %sexyBox;
    @include transform(translate(-50%, -100%)); /* 5 */
    @include transition-transform(0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28));
    top: -1000px;
    height: 100%; /* 6 */
    max-width: $modal-box-min-width;
    max-height: $modal-box-min-height;
    background: $white;
    overflow: hidden;
    position: fixed;
    left: 50%; /* 7 */
    z-index: $z-index-modal-box;
  }

    .modal-box-footer {
      padding: $grid/2;
      height: $modal-box-footer-height;
      background: $white;
      box-shadow: 0px 1px 7px 0px rgba(0,0,0,.3);
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: right; /* 8 */
      & ~ .modal-box-content { /* 9 */
        height: calc(100% - #{$modal-box-footer-height});
      }
    }

    .modal-box-close {
      &:before { content: "×"; }
      width: $modal-box-close-size;
      height: $modal-box-close-size;
      line-height: $modal-box-close-size;
      text-align: center;
      font-size: 2.2rem;
      color: $black54;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      & ~ .modal-box-content { /* 10 */
        padding-right: $modal-box-close-size + $modal-box-content-padding;
      }
    }

    .modal-box-content {
      padding: $modal-box-content-padding;
      font-size: 1.4rem;
      line-height: 20px;
      overflow-y: scroll;
      height: 100%;
    }


/*****************************\
  #PHONE
\*****************************/

@include media('<=phone') {
  .modal {
    &--open, &:target {
      .modal-box {
        top: 0;
       }
    }
  }

    .modal-box {
      width: 100%;
      max-height: 100%;
      max-width: 100%;
    }
}
