@charset "UTF-8";

/*----------------------------------------------------------------------------*\
  #SPINNER

  .spinner
    svg.spinner-inner
      circle.spinner-inner-circle

\*----------------------------------------------------------------------------*/

/**
 */

.spinner {
  height: $grid*6;
  width: $grid*6;
  padding: $grid;
  border-radius: $grid*4;
  @include box-shadow(0px 1px 4px 0px $black54);
}

  svg.spinner-inner {
    width: $grid*4;
    @include animation(spin 3s linear infinite);
  }

    circle.spinner-inner-circle {
      stroke: $green;
      fill: transparent;
      @include animation(spinner-circle 3s linear infinite);
      stroke: {
        width: $grid*3;
        linecap: round;
        dasharray: 300;
        miterlimit: 10;
        dashoffset: 0;
      }
    }


