@charset "UTF-8";

/*----------------------------------------------------------------------------*\
  #TOOLTIP

  *[tooltip="*"]

\*----------------------------------------------------------------------------*/

/**
 * 1 - Force the Roboto font when the tooltip is inside a wrapper with
 *     FontAwesome.
 */

[tooltip] {
  z-index: $z-index-tooltip;
  position: relative;
  &:after {
    font-family: 'Roboto', sans-serif; /* 1 */;
    background-color: $black87;
    border-radius: $border-radius;
    color: $white;
    content: attr(tooltip);
    display: none;
    font-size: 1.3rem;
    line-height: 1.6rem;
    max-width: 250px;
    min-width: 150px;
    padding: $grid * 1;
    text-align: center;
    top: 100%;
    @include horizontal-center
  }
  &:hover {
    cursor: default;
    &:after {
      display: inline-block;
    }
  }
}
