@charset "UTF-8";

// Dependencies
@import "scss/dependencies/colors";
@import "scss/dependencies/variables";
@import "scss/dependencies/mixins";
@import "scss/dependencies/web-fonts";

/*——————————————————*\
  #HEADER
\*——————————————————*/

html, body {
  height: 100%;
}

.monalisaHeader {
  background: url('../../resources/monalisa.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  color: $white87;
  max-height: 450px;
  height: 100%;

  .grid-container {
    height: 100%;
    display: table;
  }
}

  .monalisaHeader-valign {
    display: table-cell;
    vertical-align: middle;
  }

  .monalisaHeader-title,
  .monalisaHeader-subtitle {
    text-shadow: rgba(0,0,0, 0.6) 2px 2px 4px;
  }
  .monalisaHeader-title {
    margin-left: -.85rem;
  }
  .monalisaHeader-subtitle {
    font-weight: 100;
  }

  .monalisaHeader-download {
    margin: 3rem 2rem 1rem 0;
  }

  .monalisaHeader-size {
    color: $gray87;
  }

.monalisaNav {
  background: $black87;
  padding: 0.8em 0;
  color: $white87;
  padding: 0 2rem;
  display: table;
  width: 100%;
  height: 5rem;
}

  .monalisaNav-menu,
  .monalisaNav-ghbtns {
    display: table-cell;
    vertical-align: middle;
  }

  .monalisaNav-ghbtns {
    text-align: right;
  }

.monalisaFeatures {
  text-align: center;
  padding: 10em 0;
}
  .monalisaFeatures-quote {
    margin-bottom: 8em;
  }
    .monalisaFeatures-quote-author {
      margin-top: -0.5em;
      color: $gray87;
      font-weight: 100;
    }

  .monalisaFeatures-item-img {
    width: 70%;
    min-width: 190px;
  }
  .monalisaFeatures-item-title {
    margin: 0.9em 0 0.7em
  }
  .monalisaFeatures-item-desc {
    color: $gray87;
    line-height: 2rem;
    font-weight: 100;
  }

.monalisaFooter {
  padding: 8*$grid 0 2*$grid;
  background: $black87;
  color: $white87;

  [class*=monalisaFooter-] {
    font-weight: 100;
  }
  [class*=grid-col] {
    padding-left: 0;
    padding-right: 0;
    &:nth-child(n+2) {
      text-align: right;
    }
  }
}

  .monalisaFooter-title [class*=grid-col] {
    padding: 0;
  }
  .monalisaFooter-subtitle {
    margin: 0 0 2*$grid;
    line-height: 100%;
    color: $white54;
  }
  .monalisaFooter-buttons {
    padding-bottom: 8*$grid;
  }
  .monalisaFooter-ghbtns {
    text-align: right;
  }
  .monalisaFooter-copyright {
    color: $white54;
  }
  .monalisaFooter-link:first-child {
    color: $white54;
    &::before { content: ""; }
  }
  .monalisaFooter-link::before {
    content: "•";
    margin: 0 .5*$grid 0 .25*$grid;
  }
