/**
 * This file gathers general rules. Works like a reset, but setting the default
 * behavior of the site.
 */


/**
 * Setting the default `box-sizing` to `border-box`, using the technique to preserve
 * the parent box-sizing.
 * http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


/**
 * Define the default placeholder.
 * Ps: Can't group selectors, because if a browser doesn't recognize the
 * selector invalidates the entire statement.
 */

@mixin placeholder {
  color: $black26;
  font-weight: light;
}
::-webkit-input-placeholder { @include placeholder; }
:-moz-placeholder { @include placeholder; }
::-moz-placeholder { @include placeholder; }
:-ms-input-placeholder { @include placeholder; }


[disabled] {
  cursor: not-allowed;
  opacity: .6;
}
