@charset "UTF-8";

/*----------------------------------------------------------------------------*\
  #GRID

\*----------------------------------------------------------------------------*/

$grid-max-width: $break-large;
$grid-columns: 12;
$grid-gutter: $grid;

@mixin grid-col-builder($type: false) {
  @for $i from 1 through $grid-columns {
    $selector: 'grid-col-';
    @if $type { $selector: $selector + $type + '-' + $i; }
    @else { $selector: $selector + $i; }
    .#{$selector} { width: $i/$grid-columns*100%; }
  }
}

.grid-container{
  width: 100%;
  max-width: $grid-max-width;
  margin-left: auto;
  margin-right: auto;
}

.grid-row {
  &:after,
  &:before {
    content:"";
    display: table ;
    clear:both;
  }
}

[class*='grid-col'] {
  float: left;
  min-height: 1px;
  padding: $grid-gutter;
}

@include grid-col-builder;

@include respond-to(medium) {
  @include grid-col-builder('md');
}

@include respond-to(large) {
  @include grid-col-builder('lg');
}
