@charset "UTF-8";

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v14/Hgo13k-tfSpn0qi1SFdUfYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(http://fonts.gstatic.com/s/roboto/v14/7m8l7TlFO-S3VkhHuR0at5QV2lvL5Ba9FjAYK6Lx0Qk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v14/d-6IYplOFocCacKzxwXSOIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(http://fonts.gstatic.com/s/roboto/v14/t6Nd4cfPRhZP44Q5QAjcC5QV2lvL5Ba9FjAYK6Lx0Qk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(http://fonts.gstatic.com/s/roboto/v14/vPcynSL0qHq_6dX7lKVByRkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v14/oMMgfZMQthOryQo9n22dcn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/**
 * Defines the default font.
 *
 * 1 Roboto 400 is the default font
 *
 * 2 This technique modifies the base font-size on the body using a percentage,
 *   facilitating the use of the `em` unit: where 14px = 1.4em.
 *   http://snook.ca/archives/html_and_css/font-size-with-rem
 *
 */

html {
  font-family: 'Roboto', sans-serif; /* 1 */
  font-weight: 400; /* 1 */
  font-size: 62.5%; /* 2 */
}

.typography--light {
  font-weight: 200;
}

%typography-display1 {
  font-size: 5.6rem;
  line-height: pt-to-rem(66);
}

%typography-display2 {
  font-size: 4.5rem;
  line-height: pt-to-rem(48);
}

%typography-display3 {
  font-size: 3.4rem;
  line-height: pt-to-rem(40);
}

%typography-headline {
  font-size: 2.4rem;
  line-height: pt-to-rem(32);
}

%typography-title {
  font-size: 2.0rem;
  line-height: pt-to-rem(32);
}

%typography-head {
  font-size: 1.8rem;
  line-height: pt-to-rem(28);
}

%typography-subtitle {
  font-size: 1.6rem;
  line-height: pt-to-rem(28);
}

  %typography-subhead {
    @extend %typography-subtitle;
    font-size: 1.5rem;
  }

%typography-body {
  font-size: 1.4rem;
  line-height: pt-to-rem(24);
}

  %typography-body-bold {
    @extend %typography-body;
    font-weight: 700;
  }

%typography-button {
  @extend %typography-body;
  text-transform: uppercase;
}

%typography-caption {
  font-size: 1.2rem;
  font-weight: 400;
}

.typography-display1 {
  @extend %typography-display1;
}

.typography-display2 {
  @extend %typography-display2;
}

.typography-display3 {
  @extend %typography-display3;
}

.typography-headline {
  @extend %typography-headline;
}

.typography-title {
  @extend %typography-title;
}

.typography-head {
  @extend %typography-head;
}

.typography-subtitle {
  @extend %typography-subtitle;
}

.typography-subhead {
  @extend %typography-subhead;
}

.typography-body {
  @extend %typography-body;
}

.typography-body-bold {
  @extend %typography-body-bold;
}

.typography-button {
  @extend %typography-button;
}

.typography-caption {
  @extend %typography-caption;
}
