@charset "UTF-8";

/**
 * The JusBrasil uses a limited set of colors defined bellow. Any color used in
 * the site should be by variable, never with hex, RGB or RGBA.
 *
 * The 87, 54, 26 and 12 suffixes is the opacity of the color.
 */


/*——————————————————*\
  #PRIMARY COLORS
\*——————————————————*/

$white:     #fff;
$black:     #000;
$gray:      #808080;
$blue:      #0091ea;
$green:     #7cb342;
$yellow:    #ffb300;
$orange:    #fb8c00;
$red:       #f83c00;
$bluegray:  #607d8b;





/*——————————————————*\
  #OPACITY COLORS
\*——————————————————*/

$white87: rgba($white,.87);
$white54: rgba($white,.54);
$white26: rgba($white,.26);
$white12: rgba($white,.12);

$black87: rgba($black,.87);
$black54: rgba($black,.54);
$black26: rgba($black,.26);
$black12: rgba($black,.12);

$gray87: rgba($gray,.87);
$gray54: rgba($gray,.54);
$gray26: rgba($gray,.26);
$gray12: rgba($gray,.12);

$blue87: rgba($blue,.87);
$blue54: rgba($blue,.54);
$blue26: rgba($blue,.26);
$blue12: rgba($blue,.12);

$green87: rgba($green,.87);
$green54: rgba($green,.54);
$green26: rgba($green,.26);
$green12: rgba($green,.12);

$red87: rgba($red,.87);
$red54: rgba($red,.54);
$red26: rgba($red,.26);
$red12: rgba($red,.12);




/*——————————————————*\
  #SOLID COLORS
\*——————————————————*/

$blue50:  lighten($blue, 45%);
$blue100: lighten($blue, 40%);
$blue200: lighten($blue, 30%);
$blue300: lighten($blue, 20%);
$blue400: lighten($blue, 10%);
$blue500: $blue;
$blue600: darken($blue, 10%);
$blue700: darken($blue, 20%);
$blue800: darken($blue, 30%);
$blue900: darken($blue, 40%);

$green50:  lighten($green, 45%);
$green100: lighten($green, 40%);
$green200: lighten($green, 30%);
$green300: lighten($green, 20%);
$green400: lighten($green, 10%);
$green500: $green;
$green600: darken($green, 10%);
$green700: darken($green, 20%);
$green800: darken($green, 30%);
$green900: darken($green, 40%);

$yellow50:  lighten($yellow, 45%);
$yellow100: lighten($yellow, 40%);
$yellow200: lighten($yellow, 30%);
$yellow300: lighten($yellow, 20%);
$yellow400: lighten($yellow, 10%);
$yellow500: $yellow;
$yellow600: darken($yellow, 10%);
$yellow700: darken($yellow, 20%);
$yellow800: darken($yellow, 30%);
$yellow900: darken($yellow, 40%);

$orange50:  lighten($orange, 45%);
$orange100: lighten($orange, 40%);
$orange200: lighten($orange, 30%);
$orange300: lighten($orange, 20%);
$orange400: lighten($orange, 10%);
$orange500: $orange;
$orange600: darken($orange, 10%);
$orange700: darken($orange, 20%);
$orange800: darken($orange, 30%);
$orange900: darken($orange, 40%);

$red50:  lighten($red, 45%);
$red100: lighten($red, 40%);
$red200: lighten($red, 30%);
$red300: lighten($red, 20%);
$red400: lighten($red, 10%);
$red500: $red;
$red600: darken($red, 10%);
$red700: darken($red, 20%);
$red800: darken($red, 30%);
$red900: darken($red, 40%);

$bluegray50:  lighten($bluegray, 45%);
$bluegray100: lighten($bluegray, 40%);
$bluegray200: lighten($bluegray, 30%);
$bluegray300: lighten($bluegray, 20%);
$bluegray400: lighten($bluegray, 10%);
$bluegray500: $bluegray;
$bluegray600: darken($bluegray, 10%);
$bluegray700: darken($bluegray, 20%);
$bluegray800: darken($bluegray, 30%);
$bluegray900: darken($bluegray, 40%);

$black50:  lighten($black, 95%);
$black100: lighten($black, 90%);
$black200: lighten($black, 80%);
$black300: lighten($black, 70%);
$black400: lighten($black, 60%);
$black500: lighten($black, 50%);
$black600: lighten($black, 40%);
$black700: lighten($black, 30%);
$black800: lighten($black, 20%);
$black900: lighten($black, 10%);
