@charset "UTF-8";

/**
 * Override the breakpoints from include-media dependency
 * See more: https://github.com/eduardoboucas/include-media
 */

$break-phone: 320px;
$break-tablet: 640px;
$break-desktop: 800px;
$break-large-desktop: 1440px;

$break-range: 160px;

$breakpoints: (
  'phone': $break-phone + $break-range,
  'tablet': $break-tablet + $break-range,
  'desktop': $break-desktop + $break-range,
  'large-desktop': $break-large-desktop + $break-range
);
