@charset "UTF-8";

/**
 * This file gathers general rules. Works like a reset, but setting the default
 * behavior of the site.
 */


$break-small: 480px;
$break-medium: 768px;
$break-large: 960px;

/**
 * small: <-480
 * medium: 481<->768
 * large: 769->
 */

@mixin respond-to($media) {
  @if $media == small {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium) { @content; }
  }
  @else if $media == large {
    @media only screen and (min-width: $break-medium) { @content; }
  }
}

@mixin generic-horizontal-center {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}


@mixin vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@mixin horizontal-center {
  position: absolute;
  @include generic-horizontal-center;
}

@function pt-to-rem($pt) {
  @return ($pt * 0.133) * 1rem;
}

@mixin box-inner-shadow($color) {
  box-shadow: inset 0 1px 3px -1px $color;
}

@mixin box-shadow-level-1($color){
  box-shadow: 0 1px 2px 0 rgba($color,.24),
              0 2px 2px 0 rgba($color,.12);
}

/**
 * Solution to hidden elements readable by screen reader:
 * http://a11yproject.com/posts/how-to-hide-content/
 */

@mixin hidden-element {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
      -ms-transform: $transform;
          transform: $transform;
}

@mixin transition-transform($transition) {
  -webkit-transition: -webkit-transform $transition;
     -moz-transition:    -moz-transform $transition;
          transition:         transform $transition;
}

