/**
 * This file gathers general rules. Works like a reset, but setting the default
 * behavior of the site.
 */


$break-small: 480px;
$break-medium: 768px;
$break-large: 960px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == small-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium - 1) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-medium + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}


@mixin vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@mixin horizontal-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

@function pt-to-rem($pt) {
  @return ($pt * 0.133) * 1rem;
}

@mixin box-inner-shadow($color) {
  box-shadow: inset 0 1px 3px -1px $color;
}

@mixin box-shadow-level-1($color){
  box-shadow: 0 1px 2px 0 rgba($color,.24),
              0 2px 2px 0 rgba($color,.12);
}
