@charset "UTF-8";

/**
 * Global variables of the project. Works like a config file.
 */

$border-radius: 2px;

$grid: 8px;

$z-index-modal:     4;
$z-index-alert:     3;
$z-index-dropdown:  2;
$z-index-tooltip:   1;
